.nav-link {
  color: var(--color-mid);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-primary);
}

.nav-link-block {
  display: block;
}

.text-link {
  color: var(--color-primary);
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}